.LogInButton--tnut {
  .Button--color(#333, #ccc);
}
li.item-locale {
  display: none;
}

li.item-search {
  display: none;
}

li.item-signUp .Button, li.item-logIn .Button {
  text-transform: uppercase;
}

li.item-flags .Button, li.item-notifications .Button, li.item-session .Button, li.item-signUp .Button, li.item-logIn .Button {
  color: white;
}

li.item-flags .Button:hover, li.item-notifications .Button:hover, li.item-session .Button:hover,
li.item-signUp .Button:hover, li.item-logIn .Button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.DiscussionPage-list {
  display: none;
}

div#new_head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.App-content {
  margin-top: 100px;
}

.menu-bg {
  background: none !important;
  box-shadow: none !important;
}

.App {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (min-width: 768px) {
  .Hero .container {
    padding-top: 50px;
  }
}

.IndexPage, .TagsPage {
  margin-top: 28px;
}

.Modal {
  padding-top: 125px;
}

#content {
  padding-bottom: 0 !important;
  background: none !important;
  padding-left: 0 !important;
}

@media (min-width: 768px) {
  .Search.focused input, .Search.focused .Search-results {
    //width: 300px;
  }
}
