@font-face {
    font-family: "Myriad_Pro";
    src: url("../fonts/myriad/myriadpro-regular.otf") format("opentype");
}

.ul-tab li a {
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
    font-family: 'Arial_bold';
    font-size: 12.5px;
}

.best-of-member {
    margin: 30px 0;
}

.best-of-member .title {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 4px;
    border-bottom: solid 1px #d1d1d1;
}

.best-of-member .card.item {
    padding: 5px;
}

.best-of-member .card.item .card-body {
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
}

.best-of-member .card.item .card-footer {
    padding: 5px;
    background: #d1d1d1;
}

.best-of-member .card.item .card-body img {
    object-fit: contain;
}

.best-of-member .title a {
    color: black;
    padding-bottom: 4px;
    border-bottom: solid 2px red;
}

.partner-area {
    height: 120px;
    background: #e9e9e9;
    padding: 15px 0;
}

.partner-area .partners img {
    height: 90px !important;
    width: auto !important;
    object-fit: contain;
}

.partner-area .partners {
    height: auto;
    overflow: hidden;
}

.progress-loading {
    text-align: center;
    margin-top: 60px
}

.progress-loading span {
    transition: all 500ms ease;
    background: #4A72DA;
    box-shadow: 1px 2px 3px #999;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 10px;
    animation: wave 2s ease infinite;
}

.progress-loading span:nth-child(1) {
    animation-delay: 0;
}

.progress-loading span:nth-child(2) {
    animation-delay: 100ms;
}

.progress-loading span:nth-child(3) {
    animation-delay: 200ms;
}

.progress-loading span:nth-child(4) {
    animation-delay: 300ms;
}

.progress-loading span:nth-child(5) {
    animation-delay: 400ms;
}

.progress-loading span:nth-child(6) {
    animation-delay: 500ms;
}

.progress-loading span:nth-child(7) {
    animation-delay: 600ms;
}

.progress-loading span:nth-child(8) {
    animation-delay: 700ms;
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translate(0, 0);
        background-color: #4A72DA;
    }
    10% {
        transform: translate(0, -15px);
        background-color: red;
    }
}

.laravote-heading {
    background: var(--primary-color);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.laravote-body {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.laravote-footer {
    text-align: center;
}

input.btn-vote {
    padding: 10px 40px;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.side-banner-left {
    float: left;
    z-index: 999;
    left: 110px;
    width: 220px;
}

.side-banner-right {
    float: right;
    z-index: 999;
    right: 110px;
    width: auto;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.clearfix {
    clear: both;
}

#side-banner {
    display: none;
}

@media only screen and (min-width: 1366px) {
    #side-banner {
        display: contents;
    }

    .side-banner-left {
        left: 5px;
    }

    .side-banner-right {
        right: 5px;
    }
}

@media only screen and (min-width: 1600px) {
    .side-banner-left {
        left: 30px;
    }

    .side-banner-right {
        right: 30px;
    }
}

@media only screen and (min-width: 1700px) {
    .side-banner-left {
        left: 55px;
    }

    .side-banner-right {
        right: 55px;
    }
}

@media only screen and (min-width: 1800px) {
    .side-banner-left {
        left: 80px;
    }

    .side-banner-right {
        right: 80px;
    }
}

@media only screen and (min-width: 1920px) {
    .side-banner-left {
        left: 110px;
    }

    .side-banner-right {
        right: 110px;
    }
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.clearfix {
    clear: both;
}

#side-banner {
    display: none;
}

@media only screen and (min-width: 1500px){
    #side-banner {
        display: contents;
    }

    .side-banner-left {
        left: 5px;
    }

    .side-banner-right {
        right: 5px;
    }
}

@media only screen and (min-width: 1600px){
    .side-banner-left {
        left: 30px;
    }

    .side-banner-right {
        right: 30px;
    }
}

@media only screen and (min-width: 1700px){
    .side-banner-left {
        left: 55px;
    }

    .side-banner-right {
        right: 55px;
    }
}

@media only screen and (min-width: 1800px){
    .side-banner-left {
        left: 80px;
    }

    .side-banner-right {
        right: 80px;
    }
}

@media only screen and (min-width: 1920px){
    .side-banner-left {
        left: 110px;
    }

    .side-banner-right {
        right: 110px;
    }
}
