.sidebar-menu {
    background: var(--primary-color);
}

.sidebar-menu > li > a > span > img {
    display: none !important;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    /* background:#b01e0f; */
    /* background: url(../images/bg_menu.png) no-repeat center center; */
    /* -webkit-background-size: 100% 100%; */
    /* -moz-background-size: 100% 100%; */
    /* -o-background-size: 100% 100%; */
    /* background-size: 100% 100%; */
    /* background-size: 100% 100%; */
    /* background-repeat: repeat-x; */
    height: 35px;
    position: relative;
    /* bottom: 3px; */
    padding-left: 30px;
}

.sidebar-menu > li {
    position: static;
    margin: 0;
    padding: 0;
    display: inline-block;
    /* height: 39px; */
    margin-left: -4px;
}

.sidebar-menu > li:nth-child(2) {
    /* margin-left:0px; */
    /* position: relative; */
    /* bottom: 2px; */
}

.sidebar-menu > li > a {
    padding: 7.5px 7px;
    display: inline-block;
    /* border-left: 3px solid transparent; */
    color: white;
    font-size: 14px;
    /* height: 35px; */
    /* line-height: 35px; */
    text-transform: none;
    font-weight: 400
}

.sidebar-menu > li > a:before {
    /* content: "|"; */
    /* color: #fff; */
    /* position: relative; */
    /* top: 1px; */
    /* left: -5px; */
}

.sidebar-menu > li:nth-child(2) > a:before {
    content: none;
}

.sidebar-menu > li > a > .fa {
    width: 20px;
}

.sidebar-menu > li:nth-child(2):hover > a, .sidebar-menu > li:nth-child(2).active > a {
    /* padding: 4px 5px 4px 5px!important; */
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    /* color: #881A1A; */
    background: #385db2;
    /* padding: 5px 5px 4px 5px; */
    /* border-left-color: #3c8dbc;  */
}

.sidebar-menu > li > .treeview-menu {
    position: absolute;
    z-index: 9999;
    width: 24%;
    background: #f06c0a;

    /* width: auto; */
}

.sidebar-menu > li > .treeview-menu > li > ul {
    width: 240px;
}

.sidebar-menu > li > .treeview-menu li {
    /* border-bottom: 2px solid #fff; */
}

.sidebar-menu > li > .treeview-menu li:hover, .sidebar-menu > li > .treeview-menu li.active {
    /* border-bottom: 2px solid #9e1d20; */
    background: #992215;
}

.sidebar-menu > li > .treeview-menu li:hover a, .sidebar-menu > li > .treeview-menu li.active a {
    color: #fffdd3;
}

.sidebar-menu > li > .treeview-menu li > ul > li > a {
    color: #fffdd3 !important;
    white-space: normal;
}

.sidebar-menu > li > .treeview-menu li > ul > li:hover > a, .sidebar-menu > li > .treeview-menu li > ul > li.active > a {
    color: #f9f5ab !important;
}

/* .sidebar-menu .treeview-menu.treeview-menu > li>a:before{ */
/* margin-right: 5px; */
/* position: relative; */
/* height: 8px; */
/* width: 5px; */
/* content: ""; */
/* color: #2d8fad; */
/* float: left; */
/* /* padding-right: 6px; */

/
/* background-image: url(../images/muitenden.svg); */
/* top: 7px; */
/* margin-left: 2px; */
/* } */
.sidebar-menu .treeview-menu.treeview-menu > li > a.span-head:before {
    content: none;
}

.sidebar-menu .treeview-menu.treeview-menu > li:hover > a:before {
    background-image: url(../images/mui_ten_do.svg);
}

.sidebar-menu li.treeview ul.treeview-menu li ul.treeview-menu {
    position: absolute;
    top: 0px;
}

.sidebar-menu li.treeview ul.treeview-menu li ul.treeview-menu {
    background: #e58826;
}

.sidebar-menu li.treeview ul.treeview-menu li ul.treeview-menu li {
    background: #e58826;
    padding: 2px 10px;
    /* border-bottom: 2px solid #b8bcbc; */
    /* color: #fff; */
}

.sidebar-menu li.treeview ul.treeview-menu li ul.treeview-menu li:hover, .sidebar-menu li.treeview ul.treeview-menu li ul.treeview-menu li.active {
    /* border-bottom: 2px solid #991610; */
    background: #992215;
}

.sidebar-menu .treeview-menu.treeview-menu > li > ul > li:first-child {
    display: none;
}

.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #333;
    background: #1a2226;
}

.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu a {
    color: #333;
    text-decoration: none;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    /* padding-top:10px; */
    /* padding-left: 5px;  */
    /* top: 2px; */
    /* margin-top: 2px; */
}

.sidebar-menu .treeview-menu .treeview-menu {
    /* padding-left: 20px;  */
    position: absolute;
    border: 0px;
    padding: 0px;
    display: none !important;
    left: 100%;
}

.sidebar-menu .treeview-menu.treeview-menu > li:first-child > a {
    padding-left: 15px;
}

.sidebar-menu .treeview-menu.treeview-menu > li > a {
    padding-left: 0px;
    font-size: 14px;
}

.sidebar-menu .treeview-menu > li > .span-head {
    /* background: url(../images/bg_menu.png) no-repeat center center;  */
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    color: #fffdd3;
    padding: 5px !important;
    white-space: normal;
}

.sidebar-menu li.treeview ul.treeview-menu
    /* .sidebar-menu .treeview-menu > li:last-child{
      width:80px;
    } */
.sidebar-menu .treeview-menu > li:hover > .span-head {
    color: #fff;
}

.sidebar-menu .treeview-menu > li {
    margin: 0;
    display: block;
    position: relative !important;
    width: 100%;
    /* margin-left: 7px; */
    /* margin-bottom: 2px; */
}

.sidebar-menu .treeview-menu > li:first-child {
    margin-left: 0px;
    /* border-top: 2px solid #9e1d20; */
}

.sidebar-menu .treeview-menu > li ul {
    position: absolute;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 3px 5px 3px 15px;
    display: inline-block;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

.sidebar-menu .treeview-menu > li > a > .fa {
    width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}

.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
    color: #881A1A;
}

.sidebar-menu .img-show, .sidebar-menu .treeview a:hover .img-hide, .sidebar-menu li.active .img-hide {
    display: inline-block !important;
}

.sidebar-menu .img-hide, .sidebar-menu .treeview a:hover .img-show, .sidebar-menu li.active .img-show {
    display: none !important;
}

.sidebar-menu > li > a > span > img {
    height: 21px;
    width: 24px !important;
    float: right;
    -webkit-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
}

.span-hide {
    display: none;
}

.sidebar-menu img {
    display: inline-block !important;
    width: 17px !important;
}

.sidebar-menu .treeview-menu.treeview-menu > li > a.menu-mobile {
    /* display: none; */
}

.sidebar-menu > li:last-child input {
    display: none;
}

@media screen and (max-width: 1000px) {
    .sidebar-menu > li:last-child img {
        display: none !important;
    }

    .sidebar-menu > li:last-child input {
        margin-bottom: 15px;
        display: block;
    }

    .sidebar-menu .treeview-menu.treeview-menu > li > a.menu-mobile {
        display: block;
        padding: 14px 0px !important;
    }

    .sidebar-menu > li, .sidebar-menu .treeview-menu > li {
        display: block;
        width: 100%;
        margin-left: 0px;
        border-bottom: 1px solid #d1d1d1;
    }

    .sidebar-menu .treeview-menu > li ul, .sidebar-menu > li > .treeview-menu {
        position: static;
        padding: 0px;
        padding-left: 30px;
        background: none;
        border-top: 1px solid #b13325 !important;
    }

    .sidebar-menu > li {
        height: auto;
    }

    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
        width: 100%;
    }

    .sidebar-menu .treeview-menu > li > .span-head {
        padding: 10px !important;
        text-align: left;
        background: #992215;
        color: #fffdd3;
        /* text-transform: uppercase; */
    }

    .sidebar-menu > li > a:before {
        content: none;
    }

    .sidebar-menu .treeview-menu.treeview-menu > li > a {
        padding-left: 15px;
    }

    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
        background: none;
    }

    .sidebar-menu > li > a {
        padding: 15px 7px;
        width: 100%;
    }

    .sidebar-menu .treeview-menu > li:hover > .span-head {
        color: #333;
    }

    .sidebar-menu > li > .treeview-menu {
        border-top: 0px;
    }

    .span-hide {
        display: inline-block;
    }

    .sidebar-menu .img-hide, .sidebar-menu .img-show, .sidebar-menu li.active .img-hide {
        /* display:none!important; */
    }

    .sidebar-menu {
        padding: 20px 40px;
        height: auto;
    }

    .sidebar-menu li.active > .treeview-menu {
        display: block;

    }

    .sidebar-menu > li > .treeview-menu {
        width: 100%;
    }

    .sidebar-menu > li > .treeview-menu > li > ul {
        width: 100%;
    }

    .sidebar-menu li.treeview ul.treeview-menu li ul.treeview-menu {
        position: static;
    }

    .sidebar-menu > li > .treeview-menu li {
        border-bottom: 0px;
    }

    .sidebar-menu > li > .treeview-menu li:hover {
        border-bottom: 0px;
    }

    .sidebar-menu .treeview-menu.treeview-menu > li > a {
        padding-left: 0px;
    }

    .sidebar-menu .treeview-menu.treeview-menu > li:hover > a, .sidebar-menu .treeview-menu.treeview-menu > li:active > a {
        color: #881A1A;
    }

    .sidebar-menu > li > .treeview-menu li:hover a, .sidebar-menu > li > .treeview-menu li.active a {
        color: #fffdd3;
    }

    .sidebar-menu > li > .treeview-menu li:hover, .sidebar-menu > li > .treeview-menu li.active {
        border-bottom: 0px;
    }
}

/*Ipad  */
/* @media screen and (min-width: 981px) and (max-width: 1059px){ */
/* .sidebar-menu > li > a:before { */
/* left: -4px; */
/* } */
/* .sidebar-menu > li > a { */
/* padding: 10px 4px; */
/* } */
/* .menu-bg{ */
/* padding: 0px 5px; */
/* } */
/* } */
/* @media screen and (min-width: 981px) and (max-width: 1048px){ */
/* .sidebar-menu > li > a{ */
/* font-size: 12.3px;	 */
/* } */
/* } */
@media screen and (max-width: 365px) {
    .sidebar-menu .treeview-menu.treeview-menu > li > a {
        padding-left: 5px;
        font-size: 13px;
    }
}

@media screen  and (max-width: 1000px) {
    .sidebar-menu > li > a > span > img {
        display: block !important;;
    }
}

.treeview .treeview-menu li:hover .treeview-menu {
    display: block !important;
}
