.voyager .panel {
    border: 1px solid #c9c9c9a1;
}

.panel-body {
    color: #0b0b0b;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

/* ADMIN OPTIONS PAGE */
.options .panel-body {
    padding: 0;
}

.options .panel-options {
    padding: 15px;
    background: #e1e1e1;
}

.options .tab-pane {
    padding: 10px;
}

.options .tab-pane .row {
    margin: 0;
}

.options .panel-body.col-md-9 {
    width: 70%;
}

.options .panel-actions {
    position: unset !important;
    width: 4%;
    text-align: center;
    padding: 7px;
    float: right;
    margin-top: 20px;
}

.ibtn:hover {
    cursor: pointer;
}

.form-control, .panel-body .select2-selection {
    color: black;
    border-radius: 0;
    border: solid 1px #b1ada8;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
